<!-- Top Navigation -->
<div class="codrops-top clearfix">
    <a class="codrops-icon codrops-icon-prev" href="http://tympanus.net/Development/DynamicGrid/"><span>Previous Demo</span></a>
    <span class="right">
        <a class="codrops-icon codrops-icon-drop" href="http://tympanus.net/codrops/?p=15313"><span>Back to the Codrops Article</span></a>
    </span>
</div>

<header>
    <h1>Nifty Modal Window Effects <span>Some inspiration for different modal window appearances</span></h1>
</header>
