<app-modal-window *ngFor="let modal of modals"
    #modalWindow
    [modal]="modal">
</app-modal-window>

<div [ngClass]="{ 'blur' : blurContent }">
    <app-top-nav></app-top-nav>

    <div class="main clearfix">
        <div class="column">
            <p>There are many possibilities for modal overlays to appear. Here are some modern ways of showing them using CSS transitions and animations.</p>
        </div>
        <div class="column">
            <button (click)="showModal(0)">Fade in &amp; Scale</button>
            <button (click)="showModal(1)">Slide in (right)</button>
            <button (click)="showModal(2)">Slide in (bottom)</button>
            <button (click)="showModal(3)">Newspaper</button>
            <button (click)="showModal(4)">Fall</button>
            <button (click)="showModal(5)">Side Fall</button>
            <button (click)="showModal(6)">Sticky Up</button>
            <button (click)="showModal(7)">3D Flip (horizontal)</button>
            <button (click)="showModal(8)">3D Flip (vertical)</button>
            <button (click)="showModal(9)">3D Sign</button>
            <button (click)="showModal(10)">Super Scaled</button>
            <button (click)="showModal(11)">Just Me</button>
            <button (click)="showModal(12)">3D Slit</button>
            <button (click)="showModal(13)">3D Rotate Bottom</button>
            <button (click)="showModal(14)">3D Rotate In Left</button>
            <button (click)="showModal(15, true)">Blur</button>

            <!-- special modal that will add a perspective class to the html element -->
            <button class="md-setperspective" (click)="showModal(16)">Let me in</button>
            <button class="md-setperspective" (click)="showModal(17)">Make way!</button>
            <button class="md-setperspective" (click)="showModal(18)">Slip from top</button>
        </div>
    </div>
</div><!-- /container -->
