/* Buttons */
button
{
	border: none;
	padding: 0.6em 1.2em;
	background: darken($color-bg, 10%);     /* #c0392b; */
	color: $color-fg;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 3px 2px;
	border-radius: 2px;

    &:hover
    {
        background: darken($color-bg, 20%)  /* #A5281B */;
    }
}
